.custom-navbar {
  background-color: #1f5132;
}

html body{
  background-color: #F2E9DC;
}

.footerlinks {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #808F85;
}

.footerlinks a {
  text-decoration: none;
  color: black;
}

.footerlinks a:hover {
  color: white;
  cursor: pointer;
}

.navbarImg:hover{
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
}

.navbarTitle:hover{
  color: white;
  cursor: pointer;
}

.searchbar {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
}

.navbarImg {
  width: 40px;
  height: auto;
  padding-top: 10px;
}

.navbarTitle {
  text-decoration: none;
  color: black;
}

.form-container {
    padding-top: 30px;
    max-width: 300px; 
    margin: 0 auto;
  }

  .loginButton{
    margin: 0 auto;

  }
  .signUpButton{
    margin: 0 auto;
    width: 300px;
  }

  .signUptext{
    padding-top: 30px;
    text-align: center;

  }

  .pageTitle{
    padding-top: 30px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;

  }

  .loginBack{
    padding-top: 30px;
    text-align: center;
  }

  .smallTitle{
    margin: 0 auto;
    white-space: nowrap;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
  }