.tribe-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .tribe-details {
    margin-bottom: 20px;
  }

  .tribe-details h1 {
    font-weight: bold; 
}
  
  .posts-list {
    width: 100%;
    max-width: 800px;
  }
  
  .post-item {
    margin-bottom: 20px;
  }

  .postButton {
    display: block;
    margin: 20px auto;
    margin-right: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: #fff;
    text-align: center;
    color: black;
  }

  .createButton{
    margin: 20px auto;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    color:#fff;
    background-color: #000;
  }