.custom-navbar {
    background-color: darkolivegreen;
}

.footerlinks {
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: lightgrey;
}

.footerlinks a {
    text-decoration: none;
    color: black;
}

.footerlinks a:hover {
    color: white;
    cursor: pointer;
}

.navbarImg:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.navbarTitle:hover{
    color: white;
    cursor: pointer;
}

.searchbar {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
}

.navbarImg {
    width: 40px;
    height: auto;
    padding-top: 10px;
}

.navbarTitle {
    text-decoration: none;
    color: black;
}

